# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
env/
.env

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
.python-version

# VS Code
.vscode/
!.vscode/settings.json
.history/

# OS
.DS_Store
Thumbs.db
